.chicken-chopping 
{
  height: auto;
  background-color: #F5F0F0;
  width: 100%;
  box-sizing: border-box;
  padding-top: 40px;
  padding-bottom: 40px;
}

#chicken-block-message 
{
  position: absolute;
  right: 200px;
  width: 300px;
  height: 80px;
  background-color: #fff;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 25px;
  z-index: 105;
}

.chicken-chopping .container 
{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.chicken-chopping h2 
{
  font-weight: 600;
  font-size: 30px;
  color: #5c5c5c;
  padding-bottom: 10px;
  border-bottom: 3px solid #168514;
  width: 360px;
}

#chicken-block 
{
  height: 620px;
  display: flex;
  justify-content: center;
  position: relative;
  width: 750px;
  margin: auto;
  margin-top: 30px;
}

#chicken-block div
{
  background-size: contain;
  background-repeat: no-repeat
}

#chop-head 
{
  position: absolute;
  right: 100px;
  top: 0;
  width: 130px;
  height: 130px;
  background-image: url('../../img/chicken-head.svg');
  transition: 0.1s;
}

#chop-head:hover
{
  background-image: url('../../img/chicken-head-red.svg');
  transition: 0.1s;
}

#chop-neck
{
  position: absolute;
  width: 140px;
  height: 140px;
  right: 130px;
  top: 90px;
  background-image: url('../../img/chicken-neck.svg');
  transition: 0.1s;
}

#chop-neck:hover
{
  background-image: url('../../img/chicken-neck-red.svg');
  transition: 0.1s;
}

#chop-chest
{
  position: absolute;
  width: 220px;
  height: 240px;
  top: 205px;
  right: 125px;
  background-image: url('../../img/chicken-chest.svg');
  transition: 0.1s;
}

#chop-chest:hover
{
  background-image: url('../../img/chicken-chest-red.svg');
  transition: 0.1s;
}

#chop-soup-kit 
{
  position: absolute;
  top: 170px;
  right: 255px;
  width: 280px;
  height: 325px;
  background-image: url('../../img/chicken-soup-kit.svg');
  transition: 0.1s;
}

#chop-soup-kit:hover
{
  background-image: url('../../img/chicken-soup-kit-red.svg');
  transition: 0.1s;
}

#chop-wing
{
  position: absolute;
  width: 260px;
  height: 100px;
  top: 228px;
  right: 265px;
  background-image: url('../../img/chicken-wing.svg');
  transition: 0.1s;
}

#chop-wing:hover
{
  background-image: url('../../img/chicken-wing-red.svg');
  transition: 0.1s;
}

#chop-tail
{
  width: 150px;
  height: 237px;
  position: absolute;
  top: 92px;
  right: 505px;
  background-image: url('../../img/chicken-tale.svg');
}

#chop-front-hip
{
  width: 90px;
  height: 125px;
  position: absolute;
  top: 375px;
  right: 355px;
  background-image: url('../../img/chicken-front-hip.svg');
  transition: 0.1s;
}

#chop-front-hip:hover
{
  background-image: url('../../img/chicken-front-hip-red.svg');
  transition: 0.1s;
}

#chop-back-hip
{
  height: 153px;
  width: 105px;
  position: absolute;
  top: 335px;
  right: 285px;
  background-image: url('../../img/chicken-back-hip.svg');
  transition: 0.1s;
}

#chop-back-hip:hover
{
  background-image: url('../../img/chicken-back-hip-red.svg');
  transition: 0.1s;
}

#chop-front-leg
{
  width: 105px;
  height: 130px;
  position: absolute;
  top: 490px;
  right: 310px;
  background-image: url('../../img/chicken-leg.svg');
  transition: 0.1s;
  z-index: 99;
}

#chop-front-leg:hover
{
  background-image: url('../../img/chicken-leg-red.svg');
  transition: 0.1s;
}

#chop-back-leg
{
  width: 95px;
  height: 110px;
  position: absolute;
  top: 450px;
  right: 230px;
  background-image: url('../../img/chicken-leg.svg');
  transition: 0.1s;
  z-index: 99;
}

#chop-back-leg:hover
{
  background-image: url('../../img/chicken-leg-red.svg');
  transition: 0.1s;
}