.products 
{
  width: 100%;
  height: auto;
  box-sizing: border-box;
  padding-top: 40px;
  padding-bottom: 60px;
}

.products .container 
{
  display: flex;
  flex-direction: column;
}

.filters-block
{
  display: flex;
  flex-direction: row;
}

.filters-block img 
{
  width: 35px;
  height: 25px;
}

.filters-block pre
{
  margin-left: 20px;
  color: #8E8C8C;
  font-size: 18px;
  font-weight: 500;
}

.filters-block pre span 
{
  color: #383838;
}

.products h2 
{
  font-weight: bold;
  font-size: 32px;
  color: #000;
  border-bottom: 3px solid #168514;
  height: auto;
  width: 494px;
  padding-bottom: 10px;
  margin-top: 60px;
}

.products-btn
{
  width: 250px;
  height: 60px;
  border: 3px solid #168514;
  font-size: 20px;
  color: #168514;
  font-weight: 400;
  transition: 0.2s;
  border-radius: 25px;
  background-color: #fff;
}

.products-btn:hover
{
  background-color: #085f0548;
  transition: 0.2s;
}

.products-block
{
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 30px;
}

.product 
{
  margin-top: 40px;
  width: 20.1%;
  height: 380px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.product img
{
  width: 100%;
  height: auto;
} 

.product h3 
{
  font-weight: 600;
  font-size: 18px;
  color: #5c5c5c;
}

.product p
{
  font-weight: normal;
  font-size: 14px;
  color: #787676;
}

.pages-list
{
  width: 350px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
}

.page-number 
{
  width: 50px;
  height: 50px;
  border-radius: 20px;
  font-weight: bold;
  font-size: 22px;
  color: #000;
  border: 0;
  background-color: #fff;
}

.page-number-active
{
  color: #FFFFFF;
  background-color: #168514;
}

.product-btns 
{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
}

@media screen and (max-width: 1200px)
{
  .product 
  {
    height: 320px;
  }
}